@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --main-color: #4682B4;
    --text-color: #1C1C1C;
    --bg-color: #B0C4DE;
}

body{
    height: 100vh;
    background: var(--bg-color);
    
}

.itens{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
}

.img-product{
    width: 250px;
}
